html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

body ul {
  display: none;
}

header img {
  width: 2rem;
  order: -1;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #9f2a2a;
}

header h1 {
  font-size: 1.5rem;
  padding: 0;
  color: #fff;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

nav a {
  margin: .5rem;
  text-decoration: none;
  color: #fff;
  font-size: .9rem;
}

nav a:hover {
  color: yellow;
}

.banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "banner";
}

.banner img {
  grid-area: banner;
  width: 100%;
}

.banner div {
  grid-area: banner;
  align-self: center;
  justify-self: center;
}

.banner h2 {
  color: #9f2a2a;
  font-size: .9rem;
}

.about {
  text-align: center;
}

.about h2 {
  color: #9f2a2a;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.about p {
  font-size: 1rem;
  margin: 2rem 5rem;
}

.products {
  text-align: center;
}

.products ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 0;
}

.products h3 {
  text-align: center;
  color: #9f2a2a;
  margin-top: 1rem;
}

.products a {
  text-decoration: none;
  border: 3px solid #9f2a2a;
  border-radius: 10px;
  color: #9f2a2a;
  padding: .5rem 2rem;
}

.products a:hover {
  color: black;
}

.products img {
  display: block;
  width: 100%;
  padding: 2rem;
}

.products h2 {
  text-align: center;
  color: #9f2a2a;
  font-size: 1.5rem;
  margin-top: 5rem;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1rem;
  align-items: center;
  background-color: #9f2a2a;
  margin-top: 3rem;
}

footer h4 {
  color: #fff;
}

footer p {
  color: #fff;
  font-size: .7rem;
}

@media only screen and (min-width: 38em) {

  .banner h2 {
    font-size: 1.5rem;
  }

  .about h2 {
    margin-top: 3rem;
    font-size: 2rem;
  }

  .about p {
    margin: 2rem 11rem;
  }

  .products ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0;
  }

  .products h2 {
    font-size: 2rem;
  }

  .products h3 {
    font-size: 1.5rem;
  }

}

@media only screen and (min-width: 63em) {

  header img {
    width: 3rem;
  }

  .banner h2 {
    font-size: 2.5rem;
  }

  header h1 {
    font-size: 2rem;
  }

  nav a {
    font-size: 1.125rem;
  }

  .about h2 {
    margin-top: 5rem;
    font-size: 2.5rem;
  }

  .about p {
    margin: 2rem 20rem;
  }

  .products ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .products h2 {
    font-size: 2.5rem;
  }

  .products h3 {
    font-size: 2rem;
    margin-top: 1rem;
  }

}
